# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# Environment variables
.env

# Chroma Vector Database
chroma_db/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Pytest
.pytest_cache/

# Logs
*.logeval_venv/
evaluation/results/
eval_venv/
